<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/static/webslides/css/base.css" />
		<link rel="stylesheet" href="/static/webslides/css/colors.css" />
		<link rel="stylesheet" href="/static/webslides/css/svg-icons.css" />
		<style>
			#section1{
				background-image: url(/static/img/section1_background.jpg);
				background-position: center;
				background-size: cover;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
			#section2{
				background-image: url(/static/img/section1_background.jpg);
				background-position: center;
				background-size: cover;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
			#sc_hdu{
				position: absolute;
			  	top: 0;
			  	height: 43px;
			  	line-height: 39px;
			  	bottom: 0;
			  	left: 0;
			  	margin-left: 28px;
			}
		</style>
	</head>
	<body>
		<header role="banner" class="bg-primary">
	      <nav role="navigation">
	        <ul>
	        	<li class="github">
	            	<a rel="external" href="https://github.com/webslides/webslides" title="Github">LOGIN</a>
	          </li>
	        </ul>
	      </nav>
	    </header>
		<article id="webslides" class="vertical">
			<!--slide one-->
			<section class="aligncenter">
				<span id="section1"></span>
				<div class="wrap">
					<!--<h2>我的微世界</h2>-->
					<h2><strong>HERE IS MY WEIWORLD</strong></h2>
					<p class="text-intro">Search what you want in my world. <br>hyperlink collection and my compose.</p>
					<!--<p class="text-intro">百陌千寻.彼岸花开</p>-->
					<p>
						<input type="text"  style="width: 60%;border-color: gainsboro;height: 45px;" placeholder="press enter to search..."/>
					</p>
					<p>
		              <a class="button zoomIn ga-track" href="https://github.com/webslides/webslides">Enter World</a>
		           </p>
				</div>
			</section>
			<!--slide two-->
			<section class="aligncenter bg-apple">
				<!--<span id="section2" class="background" ></span>-->
				<div class="wrap">
		            <h2>
		            	<strong>WELCOME TO MY WORLD</strong>
		        	</h2>
		            <ul class="flexblock border">
		              <li>
		                <!--div required = padding li or li>a-->
		                <div>
		                  <h3><a target="_blank" href="#slide=3">collection</a></h3>
		                  <ol>
		                    <li><a target="_blank" href="#slide=4">api</a></li>
		                    <li><a target="_blank" href="#slide=6">model</a></li>
		                    <li><a target="_blank" href="#slide=7">article</a></li>
		                    <li><a target="_blank" href="#slide=8">web</a></li>
		                    <li><a target="_blank" href="#slide=9">url1</a></li>
		                    <li><a target="_blank" href="#slide=12">url1</a></li>
		                  </ol>
		                </div>
		              </li>
		              <li>
		                <!--div required = padding li or li>a-->
		                <div>
		                  <h3><a target="_blank" href="#slide=26">compose</a></h3>
		                  <ol>
		                    <li><a target="_blank" href="#slide=27">compose</a></li>
		                    <li><a target="_blank" href="#slide=28">compose</a></li>
		                    <li><a target="_blank" href="#slide=29">compose</a></li>
		                    <li><a target="_blank" href="#slide=33">compose</a></li>
		                  </ol>
		                </div>
		              </li>
		              <li>
		                <!--div required = padding li or li>a-->
		                <div>
		                  <h3><a target="_blank" href="#slide=41">contact me</a></h3>
		                  <ol>
		                    <li><a target="_blank" href="#slide=42">qq:377543513 </a></li>
		                    <li><a target="_blank" href="#slide=45">qq:377543513</a></li>
		                    <li><a target="_blank" href="#slide=47">qq:377543513</a></li>
		                    <li><a target="_blank" href="#slide=48">qq:377543513</a></li>
		                    <li><a target="_blank" href="#slide=50">qq:377543513</a></li>
		                    <li><a target="_blank" href="#slide=52">qq:377543513</a></li>
		                  </ol>
		                </div>
		              </li>
		            </ul>
		          </div>
			</section>
			<!--slide three-->
			
		</article>
		<script src="/static/webslides/js/webslides.js"></script>
		<script type="text/javascript" src="/static/webslides/js/svg-icons.js" ></script>
		<script type="text/javascript" src="/static/js/jquery-3.0.0.min.js" ></script>
		<script>
			$(function(){
				window.ws = new WebSlides();
			});
	      
	    </script>
	    <script src="/static/js/svg-icons.js"></script>
	</body>
</html>
